@use 'mixins';

$font-primary: 'Lexend', sans-serif;

h2,
h3,
.form-heading,
.footer-nav-list-item-link {
    text-transform: lowercase;
}

.hours-table-day {
    text-transform: uppercase;
}

.hero-heading,
.menu-category-section-item-description,
.about-us-story-paragraph {
    line-height: 1.5;
}

.hero-heading {
    font-size: 40px;
    // font-weight: 400;

    @include mixins.tablet-sm {
        font-size: 72px;
    }
}

.heading {
    font-size: 40px;

    @include mixins.tablet-sm {
        // font-size: 72px;
        font-size: 64px;
    }

    @include mixins.desktop-hd {
        font-size: 72px;
        line-height: 1.5;
    }

    &-decoration {
        font-size: 48px;
        font-weight: 700;

        @include mixins.tablet-sm {
            font-size: 72px;
        }

        @include mixins.desktop-hd {
            font-size: 120px;
        }
    }
}

.menu-category-heading {
    font-size: 36px;
}

.menu-category-section-heading {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

.menu-category-section-item-cost {
    font-size: 18px;
    font-weight: 500;
}

.menu-category-section-item-description {
    font-size: 14px;
}

.form-input[type="text"] {
    font-size: 17px;
}

.about-us-story-heading {
    @include mixins.tablet-sm {
        font-size: 36px;
    }
}

.location-details-heading {
    @include mixins.tablet-sm {
        font-size: 36px;
    }
}

.about-us-story-paragraph,
.location-details-address,
.hours-table-day,
.hours-table-hours,
.form-heading,
.reservation-form-btn {
    @include mixins.tablet {
        font-size: 18px;
    }
}